@font-face { 
  font-family: 'Roboto-Light'; 
  src: 
       url('../fonts/Roboto-Light.ttf')  format('truetype'); /* Только если нужна поддержка старых Android, иначе закомментировать */ 
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Roboto-Thin'; 
  src: 
       url('../fonts/Roboto-Thin.ttf')  format('truetype'); /* Только если нужна поддержка старых Android, иначе закомментировать */ 
  font-weight: normal; 
  font-style: normal; 
}
.nav-item a{
	text-decoration: none;
	color: #66595c;
	margin-top: 20px;
	padding: 0px 50px;
	font-size: 25px;
	margin-bottom: 20px;
	font-family: "Roboto-Thin";
}
.nav{
	/* background-color: #dcd9d0; */
	background-color: #BCB8AF;
	position: fixed;
	width: 100%;
	opacity: .8;
	z-index: auto;
}

.nav a:hover{
	font-family: "Roboto-Light";
}
 .mw-100{
 	
	width: 100%;
	
} 
.content{
	background-color: #dcd9d0;
}
.content p{
	    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1rem;
}
footer {
	height: 65px;
	background-color: #BCB8AF;
}
footer p{
	text-align: right;
}
/* style form */
